html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f2f2f2;
  color: #333;
  font-family: "inter", sans-serif;
  margin: auto;
}

header,
main,
.bearmentor-about,
.description-bearmentor,
.main-contact {
  width: 75%;
  margin: auto;
}

.logo {
  width: 20px;
  height: 20px;
}
strong {
  font-weight: bold;
}

h1 {
  font-size: clamp(3rem, 8vw, 8rem);
  color: #f4b400;
  font-weight: 1000;
  margin-top: 10px;
  font-family: "poppins", sans-serif;
}
h2 {
  font-size: 2.488rem;
  font-weight: bold;
}
h3 {
  font-size: 2.074em;
  font-weight: 600;
}
h4 {
  font-size: 1.728rem;
  font-weight: 600;
}

h5 {
  font-size: 1.44rem;
  font-weight: 600;
}
h6 {
  font-size: 16px;
  font-weight: 600;
}
p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 10%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 124px;
}
.logo-nav {
  width: 40px;
}
.list-nav {
  display: flex;
  gap: 30px;
}
.list-nav-links {
  color: #33333384;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}
.list-nav-links:hover {
  color: #f2f2f2;
  background-color: #bc04b64f;
  padding: 10px 20px;
  border-radius: 10px;
}
.list-nav-links:active {
  color: #f2f2f2;
  background-color: #bc04b6;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Header */
.hero-header {
  background-image: url(/images/hero-image.svg);
  background-size: 700px;
  background-repeat: no-repeat;
  background-position: 590px 130px;
}

.hero p {
  text-indent: 5px;
  margin-bottom: -15px;
  font-weight: 600;
}

.short-intro-container {
  margin-top: 100px;
  padding-bottom: 48px;
}
.short-intro {
  margin-right: 7%;
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
}
.position {
  margin-bottom: 12px;
}
.stay {
  font-weight: bold;
}
.text-support {
  width: 35%;
}
.hero-image {
  width: 500px;
}
.call-to-action {
  margin-top: 40px;
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 20px;
}
.linkcomeon {
  text-decoration: none;
  color: #f2f2f2;
  background-color: hsla(302, 100%, 34%, 0.671);
  padding: 10px 20px;
  transition: background-color 0.2s;
  border-radius: 10px;
}
.linkcomeon:hover {
  background-color: hsl(302, 100%, 14%);
  color: #f2f2f2;
  cursor: pointer;
}

/* main - about me */

.about-me {
  display: flex;
  justify-content: space-between;
}
.about-me-box {
  width: 55%;
  margin-top: 30px;
}
#aboutme {
  margin-bottom: 25px;
  padding: 20px 0 5px;
  border-bottom: 1px solid #333;
  width: 40%;
}
.introduction-text {
  margin: 6px 0 6px;
}
.myskill {
  margin-top: 18px;
  display: flex;
  gap: 30px;
}
.skill-head {
  border-right: 2px solid #1a1a1a;
  display: flex;
  align-items: center;
  width: 15%;
}
.list-skill {
  display: flex;
}
.photo-profile {
  background-image: url(../images/bani-1.jpg);
  width: 25%;
  height: 380px;
  border-radius: 20px;
  margin: 30px 100px 40px;
}

/* main-work experience */

.work-experience {
  margin-top: 100px;
}
.work-head {
  padding: 24px 0;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.238);
  width: 45%;
}
.simnu {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.238);
}
.factory-head {
  width: 100%;
  line-height: 150%;
}
.responsible {
  width: 100%;
  line-height: 150%;
  display: flex;
  align-items: center;
}

/* main-activity */

.project-section {
  margin: 5rem 0;
  padding: 5rem 10rem;
  display: flex;
  justify-content: space-between;
}

.project {
  margin: 0 150px;
  display: flex;
  align-items: center;
}
.project-comming-soon {
  display: flex;
  width: 100px;
  height: 100px;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 100px;
  background-color: #333;
  color: #f2f2f2;
  font-weight: 500;
}

.activity-section {
  padding: 24px 0;
  margin-top: 100px;
}
.activity {
  padding: 10px 0;
  width: 15%;
  border-bottom: #1a1a1a 1px solid;
}
.list-activity {
  text-indent: 10px;
  opacity: 0.7;
  width: 35%;
  padding: 10px;
  transition: opacity 0.4s;
  display: flex;
  gap: 8px;
  white-space: nowrap;
}
.bearmentor {
  text-decoration: none;
  color: #333;
}
.list-activity:hover {
  opacity: 1;
  cursor: pointer;
}
.link {
  width: 16px;
  height: 16px;
}

/*  */
.footer {
  background-image: url(../images/footerhd.jpg);
  height: 850px;
  background-repeat: no-repeat;
  background-position: -1300px -800px;
  margin-top: 20px;
}
.footer-main-content {
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 700px;
}
.footer-hero {
  color: #f2f2f2;
}
.footer-heading {
  width: 60%;
}
.footer-text {
  width: 330px;
  margin: 24px 0;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
}
.contact-link {
  background-color: #bc04b6;
  margin: 2px;
  padding: 20px 20px;
  align-items: center;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.footer-logo {
  width: 40px;
}
.contact-link:hover {
  opacity: 1;
  cursor: pointer;
}
.copy {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  padding: 10px;
  background-color: #040404;
  margin-top: 108px;
}

/* input */
.main-contact {
  display: flex;
  justify-content: space-between;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 40%;
}
.drop {
  margin-bottom: 24px;
}
.ifyou {
  text-indent: 10px;
  margin-bottom: 16px;
}
.input {
  width: 100%;
  margin-bottom: 13px;
  padding: 10px 0;
  text-indent: 10px;
  background-color: #f2f2f2;
  border: 0;
  border-bottom: 1px solid #3333334d;
}
.textarea {
  font-family: "inter", sans-serif;
  font-size: 16px;
  text-indent: 5px;
  border: 0;
  background-color: #f2f2f2;
  border-bottom: 1px solid #3333334d;
  margin-bottom: 24px;
}
.button {
  width: 30%;
  margin: auto;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #bc04b6;
  font-weight: 600;
  color: #f2f2f2;
}
.button:hover {
  background-color: #780274;
}
.input,
.textarea:focus {
  outline: none;
  box-shadow: none;
}
.contact-image {
  width: 800px;
  margin-left: 200px;
}
.logo-sosmed {
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.sosmed-contact {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 100px;
}
.logo-sosmed:hover {
  opacity: 1;
  transition: 0.2s;
}

/* Project page */

.project-page {
  margin: auto;
  text-align: center;
}
.project-page-text {
  margin-top: 50px;
  text-align: center;
}

/* bearmento about */

.bearmentor-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.bearmentor-heading {
  margin-bottom: 24px;
}
.bearmentor-text {
  margin-bottom: 16px;
  width: 70%;
}
.main-photo {
}

/* desciption bearmentor */
.description-bearmentor {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 100px;
}

.list-day {
  padding: 20px 30px;
  font-weight: 600;
  background-color: #3333336c;
  margin-bottom: 10px;
  border-radius: 10px;
}
.list-day a {
  color: #f2f2f2;
  text-decoration: none;
}
.list-day:hover {
  background-color: #333;
}
.description-photo {
}
