html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f2f2f2;
  color: #333;
  font-family: "inter", sans-serif;
  margin: auto;
}

.logo {
  width: 20px;
  height: 20px;
}
strong {
  font-weight: bold;
}

h1 {
  font-size: clamp(3rem, 8vw, 8rem);
  color: #f4b400;
  font-weight: 1000;
  margin-top: 10px;
  font-family: "poppins", sans-serif;
}
h2 {
  font-size: 2.488rem;
  font-weight: bold;
}
h3 {
  font-size: 2.074em;
  font-weight: 600;
}
h4 {
  font-size: 1.728rem;
  font-weight: 600;
}

h5 {
  font-size: 1.44rem;
  font-weight: 600;
}
h6 {
  font-size: 16px;
  font-weight: 600;
}
p {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 10%;
}

.bearmentor-about,
.description-bearmentor {
  width: 75%;
  margin: auto;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 20px 100px 124px;
}
.logo-nav {
  width: 40px;
}
.list-nav {
  display: flex;
  gap: 30px;
}
.list-nav-links {
  color: #33333384;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}
.list-nav-links:hover {
  color: #f2f2f2;
  background-color: #bc04b64f;
  padding: 10px 20px;
  border-radius: 10px;
}
.list-nav-links:active {
  color: #f2f2f2;
  background-color: #bc04b6;
  padding: 10px 20px;
  border-radius: 10px;
}

/* main contenta */

.bearmentor-about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.bearmentor-heading {
  margin-bottom: 24px;
}
.bearmentor-text {
  margin-bottom: 16px;
  width: 70%;
}
.main-photo {
}

/* desciption bearmentor */
.description-bearmentor {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  margin-bottom: 100px;
}

.list-day {
  padding: 20px 30px;
  font-weight: 600;
  background-color: #3333336c;
  margin-bottom: 10px;
  border-radius: 10px;
}
.list-day a {
  color: #f2f2f2;
  text-decoration: none;
}
.list-day:hover {
  background-color: #333;
}
.description-photo {
}

/* footer */
.footer {
  background-image: url(/images/footerhd.jpg);
  height: 850px;
  background-repeat: no-repeat;
  background-position: -1300px -800px;
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.footer-main-content {
  display: flex;
  justify-content: space-around;
  align-items: end;
  height: 700px;
}
.footer-hero {
  color: #f2f2f2;
}
.footer-heading {
  width: 60%;
}
.footer-text {
  width: 330px;
  margin: 24px 0;
}

.footer-contact {
  display: flex;
  justify-content: space-between;
}
.contact-link {
  background-color: #bc04b6;
  margin: 2px;
  padding: 20px 20px;
  align-items: center;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.3s;
}
.footer-logo {
  width: 40px;
}
.contact-link:hover {
  opacity: 1;
  cursor: pointer;
}
.copy {
  display: flex;
  justify-content: center;
  color: #f2f2f2;
  padding: 10px;
  background-color: #040404;
  /* margin-top: 108px; */
}
.linkcomeon {
  text-decoration: none;
  color: #f2f2f2;
  background-color: hsla(302, 100%, 14%, 0.671);
  padding: 10px 20px;
  transition: background-color 0.2s;
  border-radius: 10px;
}
.linkcomeon:hover {
  background-color: hsl(302, 100%, 14%);
  color: #f2f2f2;
  cursor: pointer;
}
