@media (max-width: 1077px) {
  header,
  main {
    width: 85%;
    margin: auto;
  }

  .photo-profile {
    width: 250px;
    border-radius: 20px;
    margin-right: 0;
  }

  .project-section {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 935px) {
  .hero-image {
    width: 300px;
    margin-top: 50px;
    margin-right: 0;
  }

  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
  }
  .photo-profile {
    margin-right: 0;
    width: 200px;
  }
}

@media (max-width: 796px) {
  .intro-box {
    width: 50%;
  }
  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .photo-profile {
    width: 200px;
    margin-right: 0;
  }
}

@media (max-width: 685px) {
  .short-intro-container {
    display: flex;
    justify-content: space-between;
    align-items: first baseline baseline;
  }
  .hero-image {
    width: 200px;
    margin-top: 50px;
    margin-right: 0;
  }

  .contact-link {
    background-color: #bc04b6;
    margin: 2px;
    padding: 10px 10px;
    align-items: center;
    border-radius: 10px;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
  .footer-logo {
    width: 20px;
  }
  header,
  main {
    width: 95%;
    margin: auto;
  }
}

@media (max-width: 428px) {
  p {
    font-size: xx-small;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 70px;
    border: 1px solid;
  }
  .logo-nav {
    width: 35px;
  }
  .list-nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  /* *********************************** */
  /* *********************************** */
  .short-intro-container {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .gald {
    width: 100%;
  }
  .hero-image {
    width: 150px;
    margin-top: 50px;
    margin-right: 0;
  }

  /* *********************************8 */
  /* *********************************8 */
  /*  main area */
  .introduction {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
  }
  .intro-box {
    width: 100%;
  }
  .skill-head {
    border-right: 2px solid #1a1a1a;
    display: flex;
    align-items: center;
    width: 35%;
  }
  .introduction-text {
    margin: 6px 0 6px;
    text-align: justify;
  }
  .photo-profile {
    border-radius: 10px;
    margin-right: 0px;
    width: 100px;
    height: 200px;
    object-fit: cover;
    object-position: -19px;
  }

  /* work */

  .work-experience {
    margin-top: 50px;
  }
  .work-head {
    padding: 24px 0;
    margin-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.238);
    width: 70%;
  }

  /* ******************** */
  /* ******************** */

  .project {
    display: flex;
    align-items: center;
    width: 130px;
    border: 1px solid;
    margin-left: 20px;
  }
  .quote {
    width: 150px;
    font-size: xx-small;
  }
  .project-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* *******************/
  /* ******************* */
  /* footer */
  .footer {
    height: auto;
  }
  .footer-main-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid red;
    height: auto;
    margin: 10px;
  }
  .footer-hero {
    color: #f2f2f2;
    margin-top: 100px;
  }

  .footer-contact {
    display: flex;
    flex-direction: column;
  }

  .contact-link {
    background-color: #bc04b6;
    margin: 0px 2px;
    border-radius: 10px;
    margin-bottom: 2px;
    margin-right: 30px;
    opacity: 0.8;
    transition: opacity 0.3s;
  }
}
